@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Yanone+Kaffeesatz&display=swap');

body{
   background-color: #9c78ff; 
}

#cont_idade{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}
p{
    font-family: 'Quicksand', sans-serif;  
}
#title_age, #title_res{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2.0em;
    margin-block-start: 10px;
    color: rgba(0, 0, 0, 0.616);
    text-align: center;
}
#title_res{
    color: white;
}
input{
    outline: 0;
   
}
#wrap{
    background-color: #A594F9;
    width: 350px;
    padding: 20px;
    padding-top: 2px;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -121.25px;
    margin-left: -195px;
}
.button{
    padding: 12px;
    border: 0;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;  
    font-weight: 600;
}
.button:hover{
    cursor: pointer;
}
.entrada{
    width: 120px;
    border: 0;
    border-radius: 10px;
    padding: 3px;
    padding-left: 6px;
} 
#add{
    background-color: rgb(17, 128, 27);
    color: white;
}
#result{
    background-color: rgb(243, 124, 44);
    color: white;
}
#result:disabled{
    background-color: rgb(92, 92, 92);
    cursor: default;
}
#final{
    display: none;
    text-align: center;
}
#title_res{
    margin-block-start: 1em;
}
.loca-r{
    height: 200px;
    width: 250px;
    overflow: auto;
    margin-top: 10px;
    font-weight: 700;
    display: inline-block;
    background-color: #BFEDEF;
    color: rgb(43, 43, 43);
    border-radius: 10px;
    padding:10px ;
 
}
#res > p, #idades > p, #age_b > p, #age_d > p, #names > p{
    margin-block-start: 0;
    margin-block-end: 2px;
    
}
#res > p, #idades > p{
    text-align: center;
}
#age_b,#age_d {
    text-align:left ;
    color: rgba(0, 0, 0, 0.575);
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);   
}