@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Yanone+Kaffeesatz&display=swap');

@keyframes astroMexe {
	50%{
		transform: scale(1.2);
	}
	100%{
		transform: scale(0.8);
	}
}

body{
    margin: 0;
    padding: 0;
	color: white;
	
}
.menu{
	background-color: #303038;
	height: 50px;
	margin-block-start: 0;
}
#logo{
	position: absolute;
	left: 20px;
}
ul{
    margin-block-start: 0em;
	padding-top:15px ;
	position: absolute;
	right: 0;
  
}
ul > li{
    display: inline;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.3em;
	color: white;
    padding: 12px;
    padding-top: 15px;
    margin-block-start: 0;
    border-radius:  0 0 10px 10px;
    
}
ul > li:hover{
   background-color:#50505f ;
   cursor: pointer;
   text-decoration: underline;
}
ul > li > ul >li {
    display: block;
}
#m2{
	background-color: #303038;
	height: 140px;
	margin-block-start: 15px;
	width: 50px;
	border-radius:  0 0 10px 10px;
	margin-right: 180px;
	display: none;
}
#m2 > li{
	font-size: 1em;
	margin-left: -40px;

	
}
#m3{
	background-color: #303038;
	height: 149px;
	margin-block-start: 15px;
	width: 80px;
	border-radius:  0 0 10px 10px;
	margin-right: 65px;
	display: none;
}
#m3 > li{
	font-size: 1em;
	margin-left: -40px;
	margin-top: -10px;
	
}
p{
	margin-block-start: 0;
	margin-block-end: 0;
}
main{
	background-image: url(https://img.freepik.com/vetores-gratis/fundo-do-ceu-noturno-com-estrelas_104785-147.jpg?size=626&ext=jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 92.4vh;
}
#title-1{
	font-family: 'Quicksand', sans-serif;
	width: 300px;
	position: relative;
	top: 200px;
	left: 70px;
	
}
span{
	width: 300px;
	font-size: 4.9em;
	font-weight: 300;
}
div{
	width: 500px;	
	font-family: 'Quicksand', sans-serif;
	position: relative;
	top: 200px;
	left: 70px;
}
#astro{
	position: absolute;
	top: 200px;
	left: 60%;
	width: 350px;
	animation-name: astroMexe;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}
a{
	text-decoration: none;
	
}
a:visited, a:link{
	color: white;
}
